<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tutorial</title>
   
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
   
    <link href="/static/style.css" rel="stylesheet">
    <meta name="robots" content="noindex,follow" />
<style>
  img {
    width: 54%;
    position: absolute;
    left: 173px;
    top: 64px;
    border-radius: 7%;
    transition: all 0.3s ease;
  }

 
.alert {
  padding: 20px;
  background-color: #f44336; 
  color: white;
  margin-bottom: 15px;
}


.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}


.closebtn:hover {
  color: black;
}
</style>
 
  </head>

  <body> -->

    {% extends 'base.html' %}

    {% block content %} 
    
    <!-- <div class="alert" >
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      
    {% if messages %}
    <ul class="messages">s
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> <h1> {{ message }} </h1></li>
        {% endfor %}
    </ul>
    {% endif %}
    </div> -->



    <main class="containerxx">
     
      <!-- Left Column / Headphones Image -->
      <div class="left-columnxx">
        <img  style="width: 54%;
        position: absolute;
        left: 173px;
        opacity: 1;
        top: 64px;
        border-radius: 7%;
        transition: all 0.3s ease;" src="/static/images/product-item1.jpg" alt="">
        <!-- <img data-image="blue" src="images/blue.png" alt="">
        <img data-image="red" class="active" src="images/red.png" alt=""> -->
      </div>


      <!-- Right Column -->
      <div class="right-columnxx">

        <!-- Product Description -->
        <div class="product-descriptionxx">
          <span>Headphones</span>
          <h1>{{object.title}}</h1>
          <p>{{object.desc}}</p>
        </div>

        <!-- Product Configuration -->
        <div class="product-configurationxx">

          <!-- Product Color -->
          <div class="product-colorxx">
            <!-- <span>Color</span> -->
<!-- 
            <div class="color-choose">
              <div>
                <input data-image="red" type="radio" id="red" name="color" value="red" checked>
                <label for="red"><span></span></label>
              </div>
              <div>
                <input data-image="blue" type="radio" id="blue" name="color" value="blue">
                <label for="blue"><span></span></label>
              </div>
              <div>
                <input data-image="black" type="radio" id="black" name="color" value="black">
                <label for="black"><span></span></label>
              </div>
            </div> -->

          </div>

          <!-- Cable Configuration -->
          <div class="cable-configxx">
            <span>Cable configuration</span>

            <div class="cable-choosexx">
              <button>Straight</button>
              <button>Coiled</button>s
              <button>Long-coiled</button>
            </div>

            <a href="#">How to configurate your headphones</a>
          </div>
        </div>

        <!-- Product Pricing -->
        <div class="product-pricexx">
          <span>{{object.price}}$</span>
          <a href="{{object.get_add_to_cart_url}}" class="cart-btnxx">Add to cart</a>
          <a href="{{object.get_remove_from_cart_url}}" class="cart-btnxx">removve from cart</a>
        </div>
      </div>
    </main>

    <!-- Scripts -->
    <!-- <script src="/static/script.js" charset="utf-8"></script> -->
  
  
  
{% endblock content %}
  
  <!-- </body>
</html> -->
